@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-custom {
    box-shadow: 0px 6px 6px rgba(213, 213, 213, 0.3), 0px 1px 3px rgba(107, 106, 106, 0.5);
  }
}

@keyframes blinkCursor {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

